@import "antd/dist/antd.css";

html,
body,
#root {
  height: 100%;
}

.ant-layout {
  min-height: 100vh;
}


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
